<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>

  <superSocket>
    <servers>
      <server name="DyWebSocketServerA" serverTypeName="DySuperWebSocket" maxConnectionNumber="123" clearIdleSession="true" connectionFilter="IpRangeFilter" >
        <!--<certificate filePath="localhost.pfx" password="supersocket"></certificate>-->
        <listeners>
          <add ip="127.0.0.1" port="2012" />
          <!--<add ip="Any" port="2013" security="tls"/>-->
        </listeners>
      </server>

      <server name="DyWebSocketServerB" serverTypeName="DySuperWebSocket" >
        <!--<certificate filePath="localhost.pfx" password="supersocket"></certificate>-->
        <listeners>
          <add ip="127.0.0.1" port="2013"/>
          <!--<add ip="Any" port="2013" security="tls"/>-->
        </listeners>
      </server>
    </servers>

    <serverTypes>
      <add name="DySuperWebSocket" type="SuperSocket.WebSocket.WebSocketServer, SuperSocket.WebSocket" />
    </serverTypes>

    <connectionFilters>
      <add name="IpRangeFilter" type="ConsoleApp2.IPConnectionFilter, ConsoleApp2" />
    </connectionFilters>

  </superSocket>

  <appSettings>
    <add key="ServiceName" value="Windows服务的名字"/>
    <add key="ServiceDescription" value="此Windows服务的描述"/>
    <add key="ServicesDependedOn" value="此服务依赖的其他服务; 此服务价格会在其依赖的服务启动之后再启动; 多个依赖服务用 ',' 或者 ';' 分割"/>
  </appSettings>
  
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>