<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>

  <superSocket>
    <servers>
      <server name="DyWebSocketServerA" serverTypeName="DySuperWebSocket" maxConnectionNumber="123" clearIdleSession="true" connectionFilter="IpRangeFilter" >
        <!--<certificate filePath="localhost.pfx" password="supersocket"></certificate>-->
        <listeners>
          <add ip="127.0.0.1" port="2012" />
          <!--<add ip="Any" port="2013" security="tls"/>-->
        </listeners>
      </server>

      <server name="DyWebSocketServerB" serverTypeName="DySuperWebSocket" >
        <!--<certificate filePath="localhost.pfx" password="supersocket"></certificate>-->
        <listeners>
          <add ip="127.0.0.1" port="2013"/>
          <!--<add ip="Any" port="2013" security="tls"/>-->
        </listeners>
      </server>
    </servers>

    <serverTypes>
      <add name="DySuperWebSocket" type="SuperSocket.WebSocket.WebSocketServer, SuperSocket.WebSocket" />
    </serverTypes>

    <connectionFilters>
      <add name="IpRangeFilter" type="WebSuperSocketServer2.IPConnectionFilter, WebSuperSocketServer2" />
    </connectionFilters>

  </superSocket>
  
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>